button{
color : white;
background : blue;
border; 1px solid black;
border-radius : 5px;
padding : 8px,16px;
margin: 4px;
cursor : pointer;
}

button:hover{
color : black;
background : white;
}
input[type = text]{
width :30%;
border:2px solid,black;
border-radius: 4px;
padding: 8px,16px;
height: 30px;
}

body{
text-align: center;
}
.resultTable{
display: inline-block;
}